.countBtns{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button{
        background-image:linear-gradient(to right , #5e5d5d,#8f8e8e,#9b9b9b ) ;
        padding: 2px 40px;
        color: white;
        font-size: 30px;
        border-radius: 10px;
        margin: 10px 2px;
    }
}