.counter{
    h2{
        font-size:40px;
        color:rgb(59, 48, 59);
        font-weight: 700;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }
    h3{
        text-align: center;
        font-size: 30px;
        color: white;
        margin-top: 10px;
        width:15%;
        margin: 0 auto;
        background-image:linear-gradient(to right , #5e5d5d,#8f8e8e,#9b9b9b ) ;
        padding: 10px 20px;
    }
    
}