.counter{
    h2{
        font-size:40px;
        color:rgb(185, 17, 185);
        font-weight: 700;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }
    h3{
        text-align: center;
        font-size: 30px;
        color: white;
        margin-top: 10px;
        width:15%;
        margin: 0 auto;
        background-image:linear-gradient(to right , rgb(185, 17, 185),rgb(206, 151, 183)) ;
        padding: 10px 20px;
    }
    
}