form{
    border:1px solid lightgray;
    border-radius: 5px;
    box-shadow: 7px 8px 14px -6px #757575c7;
    -webkit-box-shadow: 7px 8px 14px -6px #757575c7;
    -moz-box-shadow: 7px 8px 14px -6px #757575c7;
}